.game_container {
    width: 1280px;
    margin-top: 40px;
}
hr {
    width: 40%;
    border: 1px solid white;
    margin-left: 30%;
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow:
    0 0 2px #00CC00,
    0 0 3px #00AA00,
    0 0 4px #009400,
    0 0 5px #006900,
    0 0 10px #003600,
    0 0 15px #001b00;
}
.game_display {
    display: flex;
}

.publisher {
    margin-left: 28%;
    width: 25%;
}
.developer {
    margin-left: 28%;
    width:25%
}

.checked {
    color:#00DD00;
}

button {
    margin-top: 1%;
    letter-spacing: 2px;
    width: 150px;
    height: 30px;
    font-family: "Bahnschrift", sans-serif;
    font-size: 16px;
    color: white;
    border: 1px solid lime;
    border-radius: 8px;
    background-color:#008000;
    transition: 0.5s;
}

button:hover {
    background-color:transparent;
    border-color: white;
  }