.modal-header,
.modal-body,
.modal-footer {
    background-color: #171717;
    border-radius: 1px;
}

.form-outline label {
    color: black;
    text-shadow: none;
}

.form-check label, a {
    text-shadow: none;
}

.btn-close {
    padding: 15px;
}

#loginName,
#loginPassword {
    background-color: white;
}